<div class="container">
    <div class="title"><h1>Checkers</h1></div>
    <div class="body" id="body" (resize)="onResize($event)">
        <div class="controls">
            <div *ngIf="!gameCreated">
                <mat-card>
                    <mat-card-title>Create game</mat-card-title>
                    <mat-card-content>
                        <form>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Your name" [(ngModel)]="playerName" name="cname" required>
                            </mat-form-field>
                            <button 
                                [disabled]="buttonDisabled"
                                mat-raised-button 
                                color="primary" 
                                class="full-width" 
                                (click)="create()">
                                Create
                            </button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!gameCreated">
                <mat-card>
                    <mat-card-title>Join game</mat-card-title>
                    <mat-card-content>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Your name" [(ngModel)]="joinName" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Game code" [(ngModel)]="gameCode" required>
                        </mat-form-field>
                        <button 
                            [disabled]="buttonDisabled"
                            mat-raised-button 
                            color="primary" 
                            class="full-width" 
                            (click)="join()">
                            Join
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="gameCreated">
                <mat-card>
                    <mat-card-title>Waiting for playmate</mat-card-title>
                    <mat-card-content>
                        <p>
                            Send the code <strong>{{generatedCode}}</strong> to your playmate for him/her to join
                            the game
                        </p>
                        <button 
                            mat-raised-button 
                            color="primary" 
                            class="full-width" 
                            (click)="cancelGame()">
                            Cancel
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>