<style>

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .title {
        padding: 0 1rem;
        background-color:#333;
        color: white;
    }

    .body {
        display: flex;
        position: relative;
        background-color: #000;
        flex: 1 1 auto;
        height: 100%;
    }

    #board {
        flex: 1 1 auto;
        margin-left: 1rem;
        position: relative;
    }

    .controls {
        max-width: 25rem;
        min-width: 15rem;
        margin: 0 1rem;
        z-index: 100;
    }

    .controls>div:first-child {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .form {
        /* min-width: 150px;
        max-width: 500px; */
        width: 100%;
    }

    .full-width {
        width: 100%;
    }

    .play-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .creator-color {
        color: black;
    }

    .joiner-color {
        color: #00b0ff;
    }

    .turn-color {
        color: tomato;
    }

    .no-turn-color {
        color: #666;
    }

    #canvas {
        position: relative;
        background-color: black;
        flex: 1 1 auto;
    }
    
    #play-controls {
        background-color: #333;
    }

    .menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .piece-highlight {
        fill: black;
        opacity: 1;
    }

    .icon {
        padding: 0 14px;
        cursor: pointer;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .svg {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: block
    }

</style>

<svg class="svg"
     xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <!-- Filter declaration -->
    <filter id="MyFilter" filterUnits="userSpaceOnUse"
            x="0" y="0"
            width="200" height="120">

      <!-- offsetBlur -->
      <feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur"/>
      <feOffset in="blur" dx="4" dy="4" result="offsetBlur"/>

      <!-- litPaint -->
      <feSpecularLighting in="blur" surfaceScale="5" specularConstant=".75" 
                          specularExponent="20" lighting-color="#bbbbbb"  
                          result="specOut">
        <fePointLight x="-5000" y="-10000" z="20000"/>
      </feSpecularLighting>
      <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
      <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" 
                   k1="0" k2="1" k3="1" k4="0" result="litPaint"/>

      <!-- merge offsetBlur + litPaint -->
      <feMerge>
        <feMergeNode in="offsetBlur"/>
        <feMergeNode in="litPaint"/>
      </feMerge>
    </filter>
  </defs>
</svg>

<div class="play-container" *ngIf="gameStarted">
    <div id="canvas">
    </div>
    <div id="play-controls">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="leave()">Leave</button>
            <button 
                mat-menu-item 
                (click)="restart()" 
                *ngIf="isCreator()"
                [disabled]="!gameOver"
                >
                Restart
            </button>
        </mat-menu>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>You</span>
              <mat-icon 
                class="icon"
                [ngClass]="{'creator-color': isCreator(), 'joiner-color': !isCreator()}" 
                aria-hidden="false" 
                aria-label="">
                  person
              </mat-icon>
              <span>Oppo</span>
              <mat-icon 
                class="icon" 
                [ngClass]="{'creator-color': !isCreator(), 'joiner-color': isCreator()}" 
                aria-hidden="false" 
                aria-label="">
                  person
              </mat-icon>
              <mat-divider direction="vertical"></mat-divider>
              <mat-icon 
                class="icon" 
                [ngClass]="{'turn-color': inTurn(), 'no-turn-color': !inTurn()}" 
                aria-hidden="false" 
                aria-label="">
                fiber_manual_record
              </mat-icon>
              <span>{{getFeedback()}}</span>
              <span class="spacer"></span>
              <mat-icon class="icon" aria-hidden="false" aria-label="">chat_bubble_outline</mat-icon>
              <mat-icon class="icon" aria-hidden="false" aria-label="" [matMenuTriggerFor]="menu">
                  more_vert
              </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
<div class="container"  *ngIf="!gameStarted">
    <div class="title"><h1>Checkers</h1></div>
    <div class="body" id="body" (resize)="onResize($event)">
        <div class="controls">
            <div *ngIf="!gameCreated">
                <mat-card>
                    <mat-card-title>Create game</mat-card-title>
                    <mat-card-content>
                        <form>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Your name" [(ngModel)]="playerName" name="cname" required>
                            </mat-form-field>
                            <button 
                                [disabled]="buttonDisabled"
                                mat-raised-button 
                                color="primary" 
                                class="full-width" 
                                (click)="create()">
                                Create
                            </button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!gameCreated">
                <mat-card>
                    <mat-card-title>Join game</mat-card-title>
                    <mat-card-content>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Your name" [(ngModel)]="joinName" required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Game code" [(ngModel)]="gameCode" required>
                        </mat-form-field>
                        <button 
                            [disabled]="buttonDisabled"
                            mat-raised-button 
                            color="primary" 
                            class="full-width" 
                            (click)="join()">
                            Join
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="gameCreated">
                <mat-card>
                    <mat-card-title>Waiting for playmate</mat-card-title>
                    <mat-card-content>
                        <p>
                            Send the code <strong>{{generatedCode}}</strong> to your playmate for him/her to join
                            the game
                        </p>
                        <button 
                            mat-raised-button 
                            color="primary" 
                            class="full-width" 
                            (click)="cancelGame()">
                            Cancel
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>