<svg class="svg"
     xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <!-- Filter declaration -->
    <filter id="MyFilter" filterUnits="userSpaceOnUse"
            x="0" y="0"
            width="200" height="120">

      <!-- offsetBlur -->
      <feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur"/>
      <feOffset in="blur" dx="4" dy="4" result="offsetBlur"/>

      <!-- litPaint -->
      <feSpecularLighting in="blur" surfaceScale="5" specularConstant=".75" 
                          specularExponent="20" lighting-color="#bbbbbb"  
                          result="specOut">
        <fePointLight x="-5000" y="-10000" z="20000"/>
      </feSpecularLighting>
      <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
      <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" 
                   k1="0" k2="1" k3="1" k4="0" result="litPaint"/>

      <!-- merge offsetBlur + litPaint -->
      <feMerge>
        <feMergeNode in="offsetBlur"/>
        <feMergeNode in="litPaint"/>
      </feMerge>
    </filter>
  </defs>
</svg>
<div class="play-container">
    <div class="canvas-container">
      <div id="canvas">
      </div>
      <app-chat 
        class="chats" 
        (event)="clearUnread()"
        [hidden]="!showChats" 
        [newMessage]="chat">
      </app-chat>
    </div>
    <div id="play-controls">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="leave()">Leave</button>
            <button 
                mat-menu-item 
                (click)="restart()" 
                *ngIf="isCreator()"
                [disabled]="!gameOver"
                >
                Restart
            </button>
        </mat-menu>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <video autoPlay id="userVideo" class="chat-video"></video>
              <video autoPlay id="partnerVideo" class="chat-video"></video>
              <span class="small-screen">You</span>
              <mat-icon 
                class="icon small-screen"
                [ngClass]="{'creator-color': isCreator(), 'joiner-color': !isCreator()}" 
                aria-hidden="false" 
                aria-label="you icon">
                  person
              </mat-icon>
              <span class="small-screen">{{getOpponentName()}}</span>
              <mat-icon 
                class="icon small-screen" 
                [ngClass]="{'creator-color': !isCreator(), 'joiner-color': isCreator()}" 
                aria-hidden="false" 
                aria-label="opponent icon">
                  person
              </mat-icon>
              <mat-icon 
                class="icon" 
                [ngClass]="{'turn-color': inTurn(), 'no-turn-color': !inTurn()}" 
                aria-hidden="false" 
                aria-label="player in turn">
                fiber_manual_record
              </mat-icon>
              <span>{{getFeedback()}}</span>
              <span class="spacer"></span>
              <mat-icon 
                *ngIf="canReplay()"
                class="icon" 
                aria-hidden="false" 
                aria-label="replay" 
                (click)="replay()">
                play_arrow
              </mat-icon>
              <mat-icon 
                  matBadge="{{unreadMessagesBadge}}" 
                  matBadgeColor="warn"
                  size="small"
                  class="badge" 
                  aria-hidden="false" 
                  aria-label="chat bubble" 
                  (click)="toggleChats()">
                  chat_bubble_outline
              </mat-icon>
              <mat-icon class="icon" aria-hidden="false" aria-label="menu" [matMenuTriggerFor]="menu">
                  more_vert
              </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>