<div class="container">
    <div class="title">
        <h1>Checkers</h1>
    </div>
    <div class="body" id="body">
        <div class="dummy">
            <div *ngIf="!gameCreated" class="lobby-panels game-settings">
                <mat-card>
                    <mat-card-title>Game created</mat-card-title>
                    <mat-card-content>
                        <div *ngIf="!gameJoined && isCreator">
                            Waiting for your opponent to join the game. <br/> Game code: <strong>{{gameCode}}</strong>
                        </div>
                        <div *ngIf="gameJoined && isCreator">
                            {{gameJoinedMessage}}
                        </div>
                        <div *ngIf="!isCreator">
                            {{opponentName}} created the game
                        </div>
                        <p><label>Board size: <strong>{{boardSize}} by {{boardSize}}</strong></label></p>
                        <app-rules [isCreator]="isCreator"></app-rules>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!gameCreated" class="lobby-panels video">
                <mat-card>
                    <mat-card-content>
    
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>