<div class="container">
    <div class="title">
        <h1>Checkers</h1>
    </div>
    <div class="body" id="body">
        <div class="dummy">
            <div *ngIf="!gameCreated" class="lobby-panels game-settings">
                <mat-card>
                    <mat-card-title>Game created</mat-card-title>
                    <mat-card-content>
                        <div *ngIf="!gameJoined && isCreator">
                            Waiting for your opponent to join the game. <br/> Game code: <strong>{{gameCode}}</strong>
                        </div>
                        <div *ngIf="gameJoined && isCreator">
                            {{gameJoinedMessage}}
                        </div>
                        <div *ngIf="!isCreator">
                            {{opponentName}} created the game
                        </div>
                        <p><label>Board size: <strong>{{boardSize}} by {{boardSize}}</strong></label></p>
                        <p *ngIf="isCreator">Your opponent will start the game if he/she agrees with the rules set.</p>
                        <p *ngIf="!isCreator">
                            Discuss with your opponent to update the rules, when satisfied, start the game, 
                            rules can't be changed after the game has started.
                        </p>
                        <app-rules (event)="ruleUpdated($event)" [isCreator]="isCreator"></app-rules>
                        <button *ngIf="!isCreator"
                            mat-raised-button 
                            color="primary" 
                            class="full-width" 
                            (click)="startGame()">
                            Start
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!gameCreated" class="lobby-panels video">
                <mat-card>
                    <mat-card-content>
                        <div class="video-container">
                            <video autoPlay id="userVideo" class="chat-video"></video>
                            <div class="video-controls">
                                <mat-icon class="icon" aria-hidden="false" aria-label="menu" >
                                    <!-- mic -->
                                    mic_off
                                </mat-icon>
                                <mat-icon 
                                    class="icon" 
                                    aria-hidden="false" 
                                    aria-label="video cam off">
                                    videocam_off
                                </mat-icon>
                                <span class="spacer"></span>
                                <button mat-raised-button color="accent">Join</button>
                            </div>
                        </div>
                        <video autoPlay id="partnerVideo" class="chat-video"></video>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>