.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title {
    padding: 0 1rem;
    background-color:#333;
    color: white;
}

.body {
    background-color: #000;
    background-image: url('../../../assets/img/bg2.png');
    flex: 1 1 auto;
    padding: 1rem;
}

.dummy {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.dummy > div {
    margin: 0.5rem;
}

body {
    height: 100%;
    position: absolute;
    width: 100%;
}

.lobby-panels {
    min-width: 15rem;
    max-width: 30rem;
}

.video {
    
}

.game-settings {
}

#board {
    flex: 1 1 auto;
    margin-left: 1rem;
    position: relative;
}

.controls {
    max-width: 25rem;
    min-width: 15rem;
    margin: 0 1rem;
    z-index: 100;
}

.controls>div:first-child {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

mat-form-field {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    padding-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.play-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.creator-color {
    color: black;
}

.joiner-color {
    color: #00b0ff;
}

.turn-color {
    color: tomato;
}

.no-turn-color {
    color: #666;
}

#canvas {
    position: relative;
    background-color: black;
    flex: 1 1 auto;
}

#play-controls {
    background-color: #333;
}

.menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.piece-highlight {
    fill: black;
    opacity: 1;
}

.icon {
    padding: 0 14px;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.svg {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: block;
}

.chat-video {
    height: inherit;
}

.video-container {
    height: 15rem;
    position: relative;
}

.video-controls {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.video-controls > * {
    margin: 0.5rem;
}